@import '../../../global/globalScssVars.scss';

.playlist-item {
	display: flex;
	flex-direction: row;
	background-color: darken($--base-color, 5%);
	padding: 5px;
	border-radius: 4px;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	width: 100%;

	button {
		background: none;
		border: none;
		cursor: pointer;
		display: flex;
		align-items: center;
		height: fit-content;
		width: fit-content;
	}

	h4 {
		margin: 0;
		padding: 0 5px;
	}
}
